<div class="editg-container section-container">
  <div class="section-header">
    <h2 class="editg-header">Edit Game</h2>
  </div>
  <div class="section-content">
    <form action="/game/update/<%=@game.id%>">
      <div class="form-input">
        <p>Upload your image to an image hosting site and paste the direct url (should end in .png or something like that) here:</p>
        <label>Thumbnail Image Url</label>
        <input type="text" name="img_url" value="<%=@game.img_url%>">
      </div>
      <div class="form-input">
        <label>Game Name</label>
        <input type="text" name="name" value="<%=@game.name%>">
      </div>
      <div class="form-input">
        <label>Game Width</label>
        <input type="text" name="width" value="<%=@game.width%>">
      </div>
      <div class="form-input">
        <label>Game Height</label>
        <input type="text" name="height" value="<%=@game.height%>">
      </div>
      <input type="submit" class="button-1" value="Save">
    </form>
    <%= form_tag({:action => "file_reupload"}, multipart: true, :class => "upload-form") do %>
      <p>Reupload game:</p>
      <label>.unity3d file</label>
      <%= file_field_tag 'datafile' %>
      <%= submit_tag "Upload" %>
    <% end %>
    <a class="delete-game" href="/game/destroy/<%=@game.id%>">Delete Game</a>
  </div>
</div>