<div class="section-header">
<h1>Unity Web Game Hosting</h1>
</div>
<h2>Game Upload</h2>
<% if session[:user_id] != nil %>
    <%= form_tag({action: :file_upload}, multipart: true) do %>
        <label>.unity3d file</label>
        <%= file_field_tag 'datafile' %>
        <%= submit_tag "Upload" %>
    <% end %>
<%else%>
    <p>You must <a href="/signup">Signup</a> or <a href="/login_page">Login</a> to upload a game</p>
<%end%>
<h2><a href="/users/index">View All Users</a></h2>
<h2>Recently Uploaded</h2>
<% Game.last(5).reverse.each do |g| %>
    <div id="game_container">
        <p id="game_name">
            <a href="/game/<%=g.id%>"><%=g.name%></a>
        </p>
        <div id="img_container">
            <img src="<%=g.img_url%>" width="300px" height="300px"></img>
            <div id="img_cover"></div>
        </div>
    </div>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78432255-3', 'auto');
  ga('send', 'pageview');

</script>