<div class="section-header">
<h1>Unity Web Game Hosting</h1>
</div>
<h2>Game Upload</h2>
<% if session[:user_id] != nil %>
    <%= form_tag({action: :file_upload}, multipart: true) do %>
        <label>.unity3d file</label>
        <%= file_field_tag 'datafile' %>
        <%= submit_tag "Upload" %>
    <% end %>
<%else%>
    <p>You must <a href="/signup">Signup</a> or <a href="/login_page">Login</a> to upload a game</p>
<%end%>
<h2>Recently Uploaded</h2>
<% Game.last(10).reverse.each do |g| %>
    <%u = User.find_by(id: g.user_id.to_s)%>
    <div id="game_container">
        <p id="game_name">
            <a href="/game/<%=g.id%>"><%=g.name%></a>
            <span> by </span>
            <a href="/users/view/<%=u.id%>"><%=u.username%></a>
        </p>
        <div id="img_container">
            <img src="<%=g.img_url%>" width="300px" height="300px"></img>
            <div id="img_cover"></div>
        </div>
    </div>
<% end %>