<!DOCTYPE html>
<html>
<head>
  <title>Gdhost</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_id] == nil %>
<a href="/login_page">Login</a>
<a href="/signup">Signup</a>
<%else%>
<label>Hello <%=User.find_by(id: session[:user_id]).username%></label>
<a href="/logout">Logout</a>
<%end%>
<br>
<%= yield %>

</body>
</html>
